apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: filesystem-trim-weekly
  namespace: longhorn-system
spec:
  cron: "0 5 * * 0" # 5 AM every Sunday
  task: "filesystem-trim"
  groups:
    - default
  retain: 1
  concurrency: 2
  labels:
    maintenance-type: "trim"

