---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: longhorn-strict-local
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: driver.longhorn.io
allowVolumeExpansion: true
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
parameters:
  numberOfReplicas: "1"
  dataLocality: "strict-local"
  staleReplicaTimeout: "60"
  fromBackup: ""
  migratable: "false"
  encrypted: "false"
  replicaAutoBalance: "disabled"
