apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: velero

namespace: velero
resources:
  - namespace.yaml
  - secret.yaml
  - repository.yaml
  - release.yaml

configMapGenerator:
  - name: velero-values
    files:
      - values.yaml=values.yaml

configurations:
  - kustomizeconfig.yaml
