---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production-wildcard
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: local@fedora.io
    privateKeySecretRef:
      name: letsencrypt-production-wildcard
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-api-token
              key: api-token
        selector:
          dnsZones:
            - "luzero.online"
