---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: database

resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - tcproute.yaml

commonLabels:
  app.kubernetes.io/name: postgres
  app.kubernetes.io/component: database
