deploymentMode: SingleBinary

loki:
  ui:
    enabled: true

  auth_enabled: false
  commonConfig:
    replication_factor: 1

  storage:
    type: filesystem

  # Use test schema as base but override object_store for filesystem
  schemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h

singleBinary:
  replicas: 1
  persistence:
    enabled: true
    storageClass: longhorn
    size: 500m

  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      cpu: 1
      memory: 2Gi

chunksCache:
  enabled: false

resultsCache:
  enabled: false

gateway:
  enabled: false

read:
  replicas: 0

write:
  replicas: 0

backend:
  replicas: 0

monitoring:
  serviceMonitor:
    enabled: true
    labels:
      app.kubernetes.io/component: monitoring
