apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: aws-credentials
  namespace: kube-system
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: aws-credentials
    creationPolicy: Owner
  data:
    - secretKey: access_key
      remoteRef:
        key: kv/data/k8s-secrets
        property: access-key
    - secretKey: secret_key
      remoteRef:
        key: kv/data/k8s-secrets
        property: secret-key
