---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: reloader
resources:
  - namespace.yaml
  - repository.yaml
  - release.yaml

configMapGenerator:
  - name: reloader-values
    files:
      - values.yaml=values.yaml

configurations:
  - kustomizeconfig.yaml

generatorOptions:
  disableNameSuffixHash: true
